*.log
*.log.*
*.idea
*migrations/*.py
*.DS_Store
*.py[cod]
supervisord.conf
.commit_id
!fabfile/conf/*.py
usecloud/usecloud/settings.py
usecloud/static/
*.csv
data/use_info_data/data.csv
src/__pycache__/
src/raw_probablity/__pycache__/
src/scikit_probablity/__pycache__/
.DS_Store
*.pyc